.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    width: 100%;

    background-color: #222;

    .explorerWrapper {
        margin-top: 2em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
    }
}
